@font-face{
    font-family: "Firasansmedium";
    src: url("../fonts/Firasansmedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Firasansregular";
    src: url("../fonts/Firasansregular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.button{
 font-family: "Firasansmedium";
}
