html{
    height: 100%;
}

body{
    background-color: #ffffff;
    height: 100%;
}

.start_page{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    height: 100%;
    align-items: center;
}

.start_page_content{
    display: flex;
    flex-direction: column;
    width: 716px;
    height: 332px;
    
}

.start_page_logo{
    margin: 0 auto;
    padding-bottom: 32px;
}

.start_page_logo img{
    height: 35px;
}

.start_page_title{
    font-family: "Firasansmedium";
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.4px;
    color: #147E4B;
    text-align: center;
    padding-bottom: 24px;
}

.start_page_text{
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.4px;
    color: #000000;
    text-align: center;
    padding-bottom: 56px;
   
}

.start_page_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.start_page_button_1{
    padding-right: 48px;
}
