/*Адаптив с развернутым боковым меню до 660px,
адаптив со свернутым боковым меню до 500px*/


@media screen and (max-width: 1230px){
    /*start.html*/
    .stat1,
    .stat2,
    .stat3{
        width: 200px;
    }

    .main_page_img img{
        width: 750px;
    }

    /*materials*/
    .mat_img img{
        width: 750px;
    }

    /*name_testing.html*/
    .stat1.test,
    .stat2.test,
    .stat3.test{
        width: 200px;
    }
}

@media screen and (max-width: 1200px){
   
}

@media screen and (max-width: 1170px){
    /*start.html*/
    .main_page_img img{
        width: 700px;
    }
    .number{
        font-size: 40px;
        line-height: 38px;
    }

    /*materials*/
    .mat_img img{
        width: 700px;
    }
}

@media screen and (max-width: 1140px){
    /*start.html*/
    .main_page_img img{
        width: 650px;
    }

    /*materials*/
    .mat_img img{
        width: 650px;
    }
}

@media screen and (max-width: 1110px){
   
}

@media screen and (max-width: 1080px){
    /*start.html*/
    .stat1,
    .stat2,
    .stat3{
        width: 150px;
        height: 100px;
    }

    .number{
        font-size: 32px;
        line-height: 34px;
    }
    
    .stat_txt{
        font-size: 12px;
        line-height: 14px;
    }

    .main_page_img img{
        width: 500px;
    }

    /*materials*/
    .mat_img img{
        width: 500px;
    }

    /*name_testing.html*/
    .stat1.test,
    .stat2.test,
    .stat3.test{
        width: 150px;
        height: 100px;
    }

    .number.test{
        font-size: 32px;
        line-height: 34px;
    }
    
    .stat_txt.test{
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: 1050px){
    
}

@media screen and (max-width: 1020px){
    
}

@media screen and (max-width: 990px){
    
}

@media screen and (max-width: 960px){
   
}

@media screen and (max-width: 930px){
    /*start.html*/
    .main_page_stat{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stat1,
    .stat2{
        margin-right: 0;
        margin-bottom: 16px;
    }

    .stat1,
    .stat2,
    .stat3{
        width: 250px;
        height: 150px;
    }
    
    .number{
        font-size: 48px;
        line-height: 58px;
    }
    
    .stat_txt{
        font-size: 16px;
        line-height: 19px;
    }

    .main_page_img img{
        width: 450px;
    }

    .main_page_stat,
    .main_page_img{
        margin-bottom: 16px;
    }

    /*materials*/
    .mat_img img{
        width: 450px;
    }

    /*name_testing.html*/
    .stat1.test,
    .stat2.test,
    .stat3.test{
        width: 250px;
        height: 100px;
    }

    .number.test{
        font-size: 32px;
        line-height: 38px;
    }
    
    .stat_txt.test{
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 900px){
    /*start.html*/
    .plushka_img{
        display: none;
    }

    .plushka_txt{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .plushka.materials_plushka{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .plushka_button{
        margin-top: 8px;
    }
}

@media screen and (max-width: 870px){
    /*start.html*/
    .main_page_img img{
        width: 400px;
    }

    /*404.html*/
    .right_part_text_area.mistake_404{
        width: 350px;
    }

    .mistake_item1{
        width: 350px;
        padding-bottom: 0;
        margin-bottom: 32px;
        margin-top: 32px;
    }

    .mistake_item1 img{
        width: 350px;
    }

    .mistake_item2 p{
        font-size: 32px;
        line-height: 43px;
    }

    .mistake_item3 p{
        font-size: 18px;
        line-height: 20px;
    }

    /*materials*/
    .mat_img img{
        width: 400px;
    }
}

@media screen and (max-width: 840px){
    /*user*/
    .user_header{
        display: flex;
        flex-direction: column;
        
    }

    .user_photo{
        margin-right: 0;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 810px){
    /*start.html*/
    .main_page_img img{
        display: none;
    }

    /*materials*/
    .mat_img img{
        width: 350px;
    }
}

@media screen and (max-width: 780px){
    
}

@media screen and (max-width: 750px){
    /*index.html*/
    .start_page_content{
        width: 500px;
    }
    
    .start_page_logo img {
        height: 25px;
    }

    .start_page_title{
        font-size: 32px;
        line-height: 38px;
    }

    .start_page_text{
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 32px;
    }

    /*materials*/
    .mat_img img{
        width: 300px;
    }
}
    
@media screen and (max-width: 720px){
  /*materials*/
  .mat_img img{
    width: 250px;
}
}

@media screen and (max-width: 690px){
    /*start.html*/  
    .stat1,
    .stat2,
    .stat3{
        width: 200px;
    }

    .pictograms_item img {
        width: 30px;
    }

    .name_page_text{
        font-size: 16px;
        line-height: 19px;
    }

    .pictograms_item{
        margin-left: 8px;
    }

    /*404.html*/
    .right_part_text_area.mistake_404{
        width: 250px;
    }

    .mistake_item1{
        width: 250px;
    }

    .mistake_item1 img{
        width: 250px;
    }

    .mistake_item2 p{
        font-size: 24px;
        line-height: 28px;
    }

    .mistake_item3 p{
        font-size: 14px;
        line-height: 16px;
    }

    .mistake_item2{
        padding-bottom: 8px;
    }

    /*name_testing.html*/
    .stat1.test,
    .stat2.test,
    .stat3.test{
        width: 200px;
    }
}

@media screen and (max-width: 660px){
    /*start.html*/
    .stat1,
    .stat2,
    .stat3{
        width: 150px;
        height: 100px;
    }

    .number{
        font-size: 32px;
        line-height: 34px;
    }
    
    .stat_txt{
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: 630px){

}

@media screen and (max-width: 600px){
    /*start.html*/
    /*.name_page_text{
        font-size: 12px;
        line-height: 14px;
    }*/

    .pictograms_item{
        margin-left: 6px;
    }
}
@media screen and (max-width: 570px){
    /*start.html*/
    .pictograms_item{
        width: 25px;
        margin-left: 4px;
    }

    .stat1,
    .stat2,
    .stat3{
        width: 100px;
        height: 100px;
    }

    .number{
        font-size: 28px;
        line-height: 30px;
    }
    
    .stat_txt{
        font-size: 11px;
        line-height: 13px;
    }
}
@media screen and (max-width: 540px){
    
}
@media screen and (max-width: 510px){
    
}
@media screen and (max-width: 500px){
    
}


