@font-face{
    font-family: "Firasansmedium";
    src: url("/fonts/Firasansregular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Firasansregular";
    src: url("/fonts/Firasansregular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

a:hover{
    text-decoration: none;
}

html{
    height: 100%;
}

body{
    background-color: #ffffff;
    height: 100%;
}

.main_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    height: 100%;
    /*margin: 0 112px;*/
}

.main_container_left_part{
    height: 100%;
    background-color: #ffffff;
    width: 280px;
    box-shadow: 5px 0px 10px 0px rgba(0, 148, 63, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    /*тестовый вариант, чтобы этот блок был над остальными*/
    z-index: 1;
}

.left_part_logo{
    height: 104px;
    width: 280px;
    display: flex;
    align-items: center;
}

.logo{
    height: 30px;
    margin: 0 auto;
}

.left_part_navigation{
    display: flex;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
}

.navigation_menu{
    padding: 0 30px;
}

.menu_item{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 30px;
}

.last_menu_item{
    margin-bottom: 0;
}

.first_menu_item{
    margin-top: 30px;
}

.item_text{
    display: flex;
    align-items: center;
}

.item_text p{
    font-family: "Firasansregular";
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    letter-spacing: -0.4px;
}

.item_ico img{
    height: 40px;
    padding-right: 14px;
}

.navigation_exit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 24px;
}

.exit_ico{
    display: flex;
    align-items: center;
}

.exit_ico img{
    height: 40px;
    width: 40px;
}

.exit_text{
    display: flex;
    align-items: center;
    
} 
.exit_text a{
    font-family: "Firasansregular";
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #147E4B;
}

.main_container_right_part{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    display: flex;
    /*свойство, для того, чтобы правая часть контента занимала всю оставшуюся ширину рабочего экрана*/
    flex-grow: 1;
}

.right_part_navigation{
    background-color: #ffffff;
    height: 104px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px;
    box-shadow: 0px 5px 10px rgba(0, 148, 63, 0.1);
}

.right_part_name_page{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.name_page_ico{
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.name_page_ico img{
    width: 33px;
    height: 32px;
}

.name_page_text{
    font-family: "Firasansregular";
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.4px;
    display: flex;
    align-items: center;
}

.right_part_pictograms{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.pictograms_item{
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.pictograms_item_first{
    margin-left: 0;
}

.pictograms_item img{
    width: 40px;
}

/*стилизация полосы прокрутки блока*/
.right_part_content{
    height: 100%;
    overflow-y: scroll;
    /*свойства, прописанное специально для mozila fire fox, так как описанные ниже свойства там не работают*/
    /*цвета полосы прокрутки*/
    scrollbar-color: #147E4B transparent;
    /*скрытие стрелочек на полосе прокрутки*/
    scrollbar-width: thin;
}

/*сама полоса*/
.right_part_content::-webkit-scrollbar{
    width: 7px;
    background-color: transparent;
}

/*ползунок полосы*/
.right_part_content::-webkit-scrollbar-thumb {
    background-color: #147E4B;
    border-radius: 10px;
}




/*уезжающее и выезжающее боковое меню*/

.main_container_left_part2{
    height: 100%;
    width: 100px;
    box-shadow: 5px 0px 10px 0px rgba(0, 148, 63, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    /*тестовый вариант, чтобы этот блок был над остальными*/
    z-index: 1;
}

.left_part_logo2{
    height: 104px;
    width: 100px;
    display: flex;
    align-items: center;
}

.navigation_exit2{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    left: 0px;
    bottom: 0;
}

.navigation_exit{
    position: absolute;
    left: 94px;
    bottom: 0;
}

.btn.btn1{
    width: 100px;
}

.btn.btn2, .btn.btn1{
    display: flex;
    justify-content: end;
    cursor: pointer;
    margin-top: 60px;
}

.block {
    display: none;
}

.block.active {
    display: block;
}









.right_part_text_area{
    margin: 32px 32px 0 32px;
}


/*page_mistake_404*/

.mistake404{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mistake_404{
    display: flex;
    flex-direction: column;
    width: 499px;
    height: 409px;
    margin: 0;
}

.mistake_item1{
    width: 499px;
    margin: auto;
    padding-bottom: 32px;
}

.mistake_item2{
    font-family: "Firasansregular";
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.4px;
    color: #000000;
    text-align: center;
    padding-bottom: 24px;
}

.mistake_item3{
    font-family: "Firasansregular";
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: #000000;
    text-align: center;
}




.name_page_text a{
    color: #000000;
}

.name_page_text a:hover{
    text-decoration: underline;
}

/*page materials*/
.materials{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(20, 126, 75, 0.2);
    padding: 32px 32px 16px 32px;
}

.materials_plushka{
    margin-bottom: 16px;
}

.bread{
    margin-left: 32px;
    margin-bottom: -16px;
    margin-top: 14px;
    font-family: "Firasansregular";
    font-size: 12px;
}

.bread a{
    color: #000000;
    text-decoration-line: underline;
    color: #147E4B;
}

.bread a:hover{
    text-decoration:solid;
}