@font-face{
    font-family: "Firasansmedium";
    src: url("/fonts/Firasansregular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "Firasansregular";
    src: url("/fonts/Firasansregular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

a:hover{
    text-decoration: none;
}

html{
    height: 100%;
}

body{
    background-color: yellow;
    height: 100%;
}

.main_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: blue;
    height: 100%;
    margin: 0 112px;
}

.main_container_left_part{
    height: 100%;
    background-color: #ffffff;
    width: 280px;
    box-shadow: 5px 0px 10px 0px rgba(0, 148, 63, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.left_part_logo{
    height: 104px;
    background-color: blueviolet;
    /*центрируем элемент по вертикали*/
    display: flex;
    align-items: center;
}

.logo{
    /*центрируем элемент по горизонтали*/
    margin: 0 auto;
}

.left_part_navigation{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation_menu{
    padding: 0 30px;
}

.menu_item{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 30px;
}

.last_menu_item{
    margin-bottom: 0;
}

.first_menu_item{
    margin-top: 30px;
}

.item_text{
    /*центрируем элемент по вертикали*/
    display: flex;
    align-items: center;
}

.item_text p{
    font-family: "Firasansregular";
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    letter-spacing: -0.4px;
}

.item_ico img{
    height: 40px;
    padding-right: 14px;
}

.navigation_exit{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 24px;
}

.exit_ico{
    /*центрируем элемент по вертикали*/
    display: flex;
    align-items: center;
}

.exit_ico img{
    height: 40px;
    width: 40px;
}

.exit_text{
    /*центрируем элемент по вертикали*/
    display: flex;
    align-items: center;
    
} 
.exit_text a{
    font-family: "Firasansregular";
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #147E4B;
}

.main_container_right_part{
    background-color: darkorange;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.right_part_navigation{
    background-color: darksalmon;
    height: 104px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px;
}

.right_part_name_page{
    background-color: deeppink;
    width: 50px;
}

.right_part_pictograms{
    background-color: gold;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.pictograms_item{
    /*центрируем элемент по вертикали*/
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.pictograms_item_first{
    margin-left: 0;
}

.pictograms_item img{
    width: 40px;
}

.right_part_content{
    background-color: rgb(0, 99, 129);
    height: 100%;
}





.name_page_ico{}
.name_page_text{}


