/*Адаптив с развернутым боковым меню до 660px,
адаптив со свернутым боковым меню до 500px*/

@media screen and (max-width: 1260px){
    /*calendar.html*/
    .calendar_center_title,
    .calendar_title{
        align-items: baseline;
        align-items: center;
    }

    .calendar_body_row_item{
        width: 85px;
        height: 80px;
    }

    .calendar_data,
    .calendar_count{
        margin-left: 16px;
        margin-right: 16px;
    }

    .calendar_data{
        font-size: 20px;
        line-height: 24px;
    }

    .calendar_arrow{
        margin-left: 8px;
        margin-right: 8px;
    }

    .calendar_arrow img{
        width: 30px;
    }

    .calendar_count{
        font-size: 14px;
        line-height: 16px;
    }

    .row_item_unactive,
    .calendar_body_row_item{
        font-size: 18px;
        line-height: 22px;
    }

    .item_krug {
        width: 40px;
        height: 40px;
    }

    .item_krug p {
        padding-left: 11px;
    }
}

@media screen and (max-width: 1230px){
    /*start.html*/
    .stat1,
    .stat2,
    .stat3{
        width: 200px;
    }

    .main_page_img img{
        width: 750px;
    }

    /*materials*/
    .mat_img img{
        width: 750px;
    }

    /*name_testing.html*/
    .stat1.test,
    .stat2.test,
    .stat3.test{
        width: 200px;
    }
}

@media screen and (max-width: 1170px){
    /*start.html*/
    .main_page_img img{
        width: 700px;
    }
    .number{
        font-size: 40px;
        line-height: 38px;
    }

    /*materials*/
    .mat_img img{
        width: 700px;
    }
}

@media screen and (max-width: 1140px){
    /*start.html*/
    .main_page_img img{
        width: 650px;
    }

    /*materials*/
    .mat_img img{
        width: 650px;
    }
}

@media screen and (max-width: 1110px){
    /*calendar.html*/
    .calendar_body_row_item{
        width: 65px;
        height: 60px;
    }

    .calendar_data,
    .calendar_count{
        margin-left: 8px;
        margin-right: 8px;
    }

    .calendar_data{
        font-size: 16px;
        line-height: 18px;
    }

    .calendar_arrow{
        margin-left: 4px;
        margin-right: 4px;
    }

    .calendar_arrow img{
        width: 25px;
    }

    .calendar_count{
        font-size: 12px;
        line-height: 14px;
    }

    .row_item_unactive,
    .calendar_body_row_item{
        font-size: 16px;
        line-height: 18px;
    }

    .item_krug {
        width: 25px;
        height: 25px;
    }

    .item_krug p {
        padding-left: 5px;
        padding-top: 3px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1080px){
    /*start.html*/
    .stat1,
    .stat2,
    .stat3{
        width: 150px;
        height: 100px;
    }

    .number{
        font-size: 32px;
        line-height: 34px;
    }
    
    .stat_txt{
        font-size: 12px;
        line-height: 14px;
    }

    .main_page_img img{
        width: 500px;
    }

    /*materials*/
    .mat_img img{
        width: 500px;
    }

    /*name_testing.html*/
    .stat1.test,
    .stat2.test,
    .stat3.test{
        width: 150px;
        height: 100px;
    }

    .number.test{
        font-size: 32px;
        line-height: 34px;
    }
    
    .stat_txt.test{
        font-size: 12px;
        line-height: 14px;
    }

    /*support*/
    .support,
    .support_txt{
        width: auto;
    }

    .support_form_item input, textarea {
        width: 400px;
    }

    .support_form_item1 .label {
        width: 400px;
    }

    .support_form_item2 label {
        width: 385px;
    }
}

@media screen and (max-width: 960px){
   /*test.html*/
    .test_info{
       flex-direction: column;
       justify-content: start;
    }

    .test_info_right{
       justify-content: left;
       margin-top: 8px;
    }

    .question_form_buttons{
       flex-direction: column-reverse;
    }

    .question_form_buttons button{
       margin-bottom: 8px;
    }

   /*support*/
    .support_form_item input, textarea {
        width: 300px;
    }

    .support_form_item1 .label {
        width: 300px;
    }

    .support_form_item2 label {
        width: 285px;
    }


    /*calendar.html*/

    .calendar_center_title{
        display: flex;
        align-items: baseline;
    }

    .calendar_title{
        margin-bottom: 16px;
    }

    .calendar_body_row_item{
        width: 45px;
        height: 40px;
    }

    .calendar_count{
        margin-left: 4px;
        margin-right: 4px;
    }

    .calendar_arrow{
        margin-left: 2px;
        margin-right: 2px;
    }

    .calendar_count{
        font-size: 10px;
        line-height: 12px;
    }

    .row_item_unactive,
    .calendar_body_row_item{
        font-size: 12px;
        line-height: 14px;
    }

    .item_krug {
        width: 20px;
        height: 20px;
    }

    .item_krug p {
        padding-left: 3px;
        padding-top: 3px;
        font-size: 10px;
    }

    .calendar_data{
        font-size: 16px;
        line-height: 18px;
    }

    .calendar_arrow img{
        width: 25px;
    }

    .centre_text p{
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width: 930px){
    /*start.html*/
    .main_page_stat{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stat1,
    .stat2{
        margin-right: 0;
        margin-bottom: 16px;
    }

    .stat1,
    .stat2,
    .stat3{
        width: 250px;
        height: 150px;
    }
    
    .number{
        font-size: 48px;
        line-height: 58px;
    }
    
    .stat_txt{
        font-size: 16px;
        line-height: 19px;
    }

    .main_page_img img{
        width: 450px;
    }

    .main_page_stat,
    .main_page_img{
        margin-bottom: 16px;
    }

    /*materials*/
    .mat_img img{
        width: 450px;
    }

    /*name_testing.html*/
    .stat1.test,
    .stat2.test,
    .stat3.test{
        width: 250px;
        height: 100px;
    }

    .number.test{
        font-size: 32px;
        line-height: 38px;
    }
    
    .stat_txt.test{
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 900px){
    /*start.html*/
    .plushka_img{
        display: none;
    }

    .plushka_txt{
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .plushka.materials_plushka{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
    }

    .plushka_button{
        margin-top: 8px;
    }

    .plushka_button button{
        border-radius: 5px;
    }

    /*calendar*/
    .calendar_plashka{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 870px){
    /*start.html*/
    .main_page_img img{
        width: 400px;
    }

    /*404.html*/
    .right_part_text_area.mistake_404{
        width: 350px;
    }

    .mistake_item1{
        width: 350px;
        padding-bottom: 0;
        margin-bottom: 32px;
        margin-top: 32px;
    }

    .mistake_item1 img{
        width: 350px;
    }

    .mistake_item2 p{
        font-size: 32px;
        line-height: 43px;
    }

    .mistake_item3 p{
        font-size: 18px;
        line-height: 20px;
    }

    /*materials*/
    .mat_img img{
        width: 400px;
    }

    /*support*/
    .support_form_item input, textarea {
        width: 200px;
    }

    .support_form_item1 .label {
        width: 200px;
    }

    .support_form_item2 label {
        width: 185px;
    }

    .support_form_title{
        padding-left: 8px;
        padding-right: 8px;
    }
}

@media screen and (max-width: 840px){
    /*user*/
    .user_header{
        display: flex;
        flex-direction: column;
    }

    .user_photo{
        margin-right: 0;
        margin-bottom: 16px;
    }

    /*calendar.html*/
    .calendar_count{
        display: none;
    }
}

@media screen and (max-width: 810px){
    /*start.html*/
    .start_page_content{
        width: 600px;
    }

    .start_page_text{
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 32px;
    }

    .main_page_img img{
        display: none;
    }

    /*materials*/
    .mat_img img{
        width: 350px;
    }

    /*calendar.html*/
    .calendar_data{
        font-size: 18px;
        line-height: 22px;
    }

    .calendar_arrow img{
        width: 35px;
    }

    .centre_text p{
        font-size: 18px;
        line-height: 22px;
    }

    /*calendar.html*/
    .calendar_title{
        margin-bottom: 16px;
    }

    .calendar_body_row_item{
        width: 35px;
        height: 40px;
    }

    .calendar_data,
    .calendar_count{
        margin-left: 4px;
        margin-right: 4px;
    }

    .calendar_arrow{
        margin-left: 2px;
        margin-right: 2px;
    }

    .calendar_count{
        font-size: 10px;
        line-height: 12px;
    }

    .row_item_unactive,
    .calendar_body_row_item{
        font-size: 12px;
        line-height: 14px;
    }

    .item_krug {
        width: 20px;
        height: 20px;
    }

    .item_krug p {
        padding-left: 3px;
        padding-top: 3px;
        font-size: 10px;
    }
    
    .calendar_data {
        font-size: 16px;
        line-height: 18px;
    }
    .calendar_arrow img{
        width: 25px;
    }
}

@media screen and (max-width: 780px){
    /*support*/
    .tab button{
        font-size: 14px;
        line-height: 16px;
    }

    .tab button:hover{
        font-size: 14px;
        line-height: 16px;
    }

    .tab button.active{
        font-size: 14px;
        line-height: 16px;
    }

    .tab button.active:hover{
        font-size: 14px;
        line-height: 16px;
    }

    /*support*/
    .support_form_item,
    .support_form_item1{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-bottom: 16px;
    }

    .support_form_item label,
    .support_form_item1 label{
        justify-content: center;
        margin-right: 0;
        text-align: center;
    }

    .support_form_item1{
        margin-bottom: 8px;
    }

    .support_form_item input, textarea {
        width: 250px;
    }

    .support_form_item1 .label {
        width: 250px;
    }

    .support_form_item2 label {
        width: 235px;
    }
}

@media screen and (max-width: 750px){
    /*index.html*/
    .start_page_content{
        width: 600px;
    }
    
    .start_page_logo img {
        height: 25px;
    }

    .start_page_title{
        font-size: 32px;
        line-height: 38px;
    }

    /*materials*/
    .mat_img img{
        width: 300px;
    }

    /*calendar.html*/
     .calendar_data{
        font-size: 16px;
        line-height: 18px;
    }

    .centre_text p{
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width: 730px){
    /*calendar.html*/
    .calendar_body_row_item{
        width: 25px;
        height: 40px;
    }

    .row_item_unactive,
    .calendar_body_row_item{
        font-size: 11px;
        line-height: 12px;
    }

    .item_krug {
        width: 15px;
        height: 15px;
        margin-top: auto;
    }

    .item_krug p {
        padding-left: 1px;
        padding-top: 1px;
        font-size: 9px;
    }
}
    
@media screen and (max-width: 720px){
    /*materials*/
    .mat_img img{
        width: 250px;
    }

    /*support*/
    .tab button{
        font-size: 12px;
        line-height: 14px;
    }

    .tab button:hover{
        font-size: 12px;
        line-height: 14px;
    }

    .tab button.active{
        font-size: 12px;
        line-height: 14px;
    }

    .tab button.active:hover{
        font-size: 12px;
        line-height: 14px;
    } 
}

@media screen and (max-width: 690px){
    /*start.html*/  
    .stat1,
    .stat2,
    .stat3{
        width: 200px;
    }

    .pictograms_item img {
        width: 30px;
    }

    .name_page_text{
        font-size: 16px;
        line-height: 19px;
    }

    .pictograms_item{
        margin-left: 8px;
    }

    /*404.html*/
    .right_part_text_area.mistake_404{
        width: 250px;
    }

    .mistake_item1{
        width: 250px;
    }

    .mistake_item1 img{
        width: 250px;
    }

    .mistake_item2 p{
        font-size: 24px;
        line-height: 28px;
    }

    .mistake_item3 p{
        font-size: 14px;
        line-height: 16px;
    }

    .mistake_item2{
        padding-bottom: 8px;
    }

    /*name_testing.html*/
    .stat1.test,
    .stat2.test,
    .stat3.test{
        width: 200px;
    }

    /*test.html*/
    .test_info_left_number p{
        font-size: 12px;
        font-weight: 14px;
    }

    /*calendar.html*/
    .calendar_data{
        font-size: 14px;
        line-height: 16px;
    }

    .calendar_arrow img{
        width: 25px;
    }

    .centre_text p{
        font-size: 14px;
        line-height: 16px;
    }

    .calendar_data{
        margin-left: 8px;
        margin-right: 8px;
    }
}

@media screen and (max-width: 660px){
    /*start.html*/
    .stat1,
    .stat2,
    .stat3{
        width: 150px;
        height: 100px;
    }

    .number{
        font-size: 32px;
        line-height: 34px;
    }
    
    .stat_txt{
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: 630px){
    .start_page_content{
        width: 500px;
    }
    
    .start_page_logo img {
        height: 25px;
    }

    .start_page_title{
        font-size: 28px;
        line-height: 32px;
    }

    .start_page_text{
        font-size: 15px;
        line-height: 18px;
    }
}

@media screen and (max-width: 600px){
    .pictograms_item{
        margin-left: 6px;
    }
}
@media screen and (max-width: 570px){
    /*start.html*/
    .pictograms_item{
        width: 25px;
        margin-left: 4px;
    }

    .stat1,
    .stat2,
    .stat3{
        width: 100px;
        height: 100px;
    }

    .number{
        font-size: 28px;
        line-height: 30px;
    }
    
    .stat_txt{
        font-size: 11px;
        line-height: 13px;
    }
}


